[Unit]
Description=Photo Rotation Scheduler GUI
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
User=adam
WorkingDirectory=/home/adam/samsung-tv-ws-api/example
ExecStart=/home/adam/samsung-tv-ws-api/samsungvenv/bin/python photo_rotation_scheduler.py
Restart=always
RestartSec=10
Environment="PYTHONUNBUFFERED=1"
# If it has a GUI window (Tkinter), uncomment the next two lines
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/adam/.Xauthority

[Install]
WantedBy=multi-user.target
