[Unit]
Description=Samsung Frame TV Slideshow
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=adam
WorkingDirectory=/home/adam/samsung-tv-ws-api/example
ExecStart=/home/adam/samsung-tv-ws-api/samsungvenv/bin/python async_art_update_from_directory.py 192.168.5.81 -D -f /media/adam/DRPHOTOUSB/Gallery -u 10 -m flexible_black -c 3600
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
