[Unit]
Description=Samsung Frame TV - Force Art Mode
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=adam
WorkingDirectory=/home/adam/samsung-tv-ws-api/example
ExecStart=/home/adam/samsung-tv-ws-api/samsungvenv/bin/python async_art_ensure_art_mode.py 192.168.5.81 -p 5 -D
Restart=always
RestartSec=10
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
